<%= nested_form_for(bank) do |form| %>
  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <%= form.text_field :person, id: :bank_person, class:"mdl-textfield__input" %>
    <%= form.label :person, class:"mdl-textfield__label" %>
  </div>
   
  <div class="actions">
    <%= form.submit "Salvar", class:"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>
  </div>
<% end %>
