<p id="notice"><%= notice %></p>

<h3><%= @bank.person %></h3>

<table class="mdl-data-table mdl-js-data-table mdl-cell mdl-cell--6-col">
  <thead>
    <tr>
      <th>Dia</th>
      <th>Horas cumpridas</th>
    </tr>
  </thead>
  <tbody>
    
    <% @bank.days.each do |day| %>
      <tr>
        <td class="mdl-cell mdl-cell--2-col"><%=link_to day.name.strftime("%d/%m/%Y"), bank_day_path(@bank)%></td>
        <td class="mdl-cell mdl-cell--2-col"><%= day.horas_cumpridas %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>

<hr/>
<%= link_to 'Edit', edit_bank_path(@bank) , class:"mdl-button mdl-js-button mdl-button--colored"%>
<%= link_to 'Back', banks_path , class:"mdl-button mdl-js-button"%>
